{% extends 'base.html.twig' %}
{% block title %}Password Reset Email Sent{% endblock %}
{% block main %}
	{{ parent() }}

        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">

                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6 order-lg-first">
					    <p>
					        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
					        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
					    </p>
					    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

                    </div>
                </div>
            </div>
        </section>



{% endblock %}

