{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block main %}
	{{ parent() }}

        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">

                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-12 order-lg-first">
                        <p>Contact us</p>
                        <div class="bg-light border row align-items-center justify-content-center my-3 p-3">
                            <div class="col-6 p-1">
                                <h3>Contactar:</h3>
                                {{ form(form) }}
                            </div>
                            <div class="col-6 p-2 text-end">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.033949500996!2d2.133061799999995!3d41.41678170000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4981b5fdca4b1%3A0x35e8d1d280af19bd!2sCIFO%20Barcelona%20-%20La%20Violeta!5e0!3m2!1ses!2ses!4v1653986461527!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <p><b>CIFO Barcelona La Violeta</b></p>
                                <p>Carrer del Compte de Sert, 7, 08035 Barcelona</p>
                                <p>Aula I12 (Curs de Symfony)</p>
                                <p>tel:932 54 17 00</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>



{% endblock %}